.main-div {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.div-map-products {
  display: flex;
  flex-direction: column;
  gap: 1rem;
  align-items: center;
  justify-content: center;
}

.div-products {
  background-color: rgb(62, 63, 58);
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
  gap: 50px;
  border-radius: 5px;
  width: 400px;
  height: 100px;
  color: white;
}

.div-input-file {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 1rem;
  height: 150px;
}

.input-file-btn {
  border: none;
  border-radius: 5px;
  background-color: rgb(183, 216, 65);
  height: 40px;
  font-weight: 700;
}

.input-file-btn:hover {
  background-color: rgb(148, 179, 39);
  cursor: pointer;
  transform: scale(1.2);
  animation: 1.5s;
}