body {
  margin: 0%;
  padding: 0%;
  box-sizing: border-box;
  background-color: #5fe245c2;
}

.main-div {
  background-color: #5fe245c2;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.div-map-products {
  display: flex;
  flex-direction: column;
  gap: 1rem;
  align-items: center;
  justify-content: center;
}

.div-products {
  background-color: rgb(179, 206, 82);
  display: flex;
  align-items: center;
  justify-content: center;
  border-color: 100px solid rgba(41, 41, 150, 0.911);
  text-align: center;
  gap: 50px;
  border-radius: 5px;
  width: 400px;
  height: 100px;
}

.div-input-file {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 1rem;
  height: 150px;
}

.input-file {
  border: none;
  border-radius: 5px;
  background-color: rgb(206, 121, 82);
  height: 40px;
}